# Environments
.env
.env.*
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Testing & Scratchpads
scratch/
.pytest_cache/
.benchmarks/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo